{% extends 'base.html'%}
{% block content %}
<div class="container">
    <form avtion="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for movie
            </label>
            <input typr="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary"> search</button>

    </form>
    <p> Searching for {{searchTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card">
                <img class="card-img-top" src={{movie.image.url}}?>

                <div class="card body">
                    <h5 class="card-title fw-bold">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}</p>
					<p class="card-text"><small class="text-muted">{{ movie.genre }}</small></p>
					<p class="card-text"><small class="text-muted">{{ movie.year }}</small></p>
                    {% if movie.url %}
                    <a href="{{movie.url}}" class="btn btn-primary"> Movie Link

                    </a>
            {% endif %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br/>
    <br>
	<h1>Mailing list<h1>
	<form action="{% url 'signup' %}">
		<div class='mb-3'>
			<label for="email" class="form-label">Email adress:</label>
			<input type="email" class="form-control" name="email">
		</div>
		<button type="submit" class="btn btn-primary">Sign Up</bottom>
	</form>
</div>

<h2><FONT COLOR="#00FF00">Hiiii</FONT COLOR><FONT COLOR="#ff0000">iiiii</FONT COLOR><FONT COLOR="#ffff00">iiiii</FONT COLOR><FONT COLOR="#00ffff">iiiii</FONT COLOR><FONT COLOR="#880088">iiiii</FONT COLOR>

</h2>
<h3>:3</h3>


			
{% endblock content %}			
